:root {
    --container-width: 90vw;
    --container-height: 50vw;
    --container-width-unitless: 90; 
    --container-height-unitless: 50;  
    --container-max-width: 850px; 
    --container-max-height: calc(var(--container-max-width) * 
        (var(--container-height-unitless) / 
        var(--container-width-unitless)));

    --white-key-width: 10.8%;
    --white-key-height: 80%; 
    --white-key-width-unitless: 10.8; 
    --white-key-height-unitless: 80; 
    /* --white-key-scale: 1.2;  */

    --black-key-width: 6%; 
    --black-key-height: 55%; 
    --black-key-width-unitless: 6; 
    --black-key-height-unitless: 55; 

    /* Below code puts black keys in the right spot */ 
    --padding-size-top: calc((100% - var(--white-key-height)) / 2); 
    --black-key-top-percent: var(--padding-size-top);
    --padding-size-side: calc((100% - 8 * var(--white-key-width)) * .5); 
    --c-sharp-left:
        calc(100% - 7 * var(--white-key-width) - var(--padding-size-side)
        - .5 * var(--black-key-width));
    --d-sharp-left: 
        calc(100% - 6 * var(--white-key-width) - var(--padding-size-side)
        - .5 * var(--black-key-width));
    --f-sharp-left: 
        calc(100% - 4 * var(--white-key-width) - var(--padding-size-side)
        - .5 * var(--black-key-width));
    --g-sharp-left: 
        calc(100% - 3 * var(--white-key-width) - var(--padding-size-side)
        - .5 * var(--black-key-width));
    --a-sharp-left: 
        calc(100% - 2 * var(--white-key-width) - var(--padding-size-side)
        - .5 * var(--black-key-width));
}

* {
    box-sizing: border-box; 
}

body, html {
    background-color: #db01db30;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    margin: 0; 
    padding: 0; 
    color: #444;
}

.title { 
    text-align: center; 
    margin: 0; 
    padding: 20px;
    border-bottom: 3px solid;
}

.container {
    width: var(--container-width);
    height: var(--container-height); 
    max-width: calc(var(--container-max-width));
    max-height: var(--container-max-height); 
    background-color: #333; 
    border: 5px solid;
    margin: auto;
    /* The position and top properties will move the main container slightly
    above center, though seems like a bit of a makeshift solution. */
    position: relative;  
    top: -10px;
    /* Styling the location of the actual content */ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 5px; 
}

.btn-key-white {
    width: calc(var(--white-key-width));
    height: calc(var(--white-key-height)); 
    /* Calculate max width by taking container max width, scaling it down by the ratio between key and container widths, then scaling by key scale. */
    max-width: calc(var(--container-max-width) *
        var(--white-key-width-unitless) / var(--container-width-unitless) 
        * var(--white-key-scale));
    /* Similar to max width above */
    max-height: calc(var(--container-max-height) *
        (var(--white-key-height-unitless) / var(--container-height-unitless))
        * var(---white-key-scale));
    background-color: #fff;
    margin-right: 0;
    border: 1.5px solid #222;
    border-radius: 0 0 6px 6px; 
    
    /* Buggy keyboard labels, will save for later 
    padding-top: 35%; 
    color: #888; 
    */ 
}


.btn-key-white:hover {
    background-color: #ddd;
}

.btn-key-black {
    background-color: #222; 
    border: 2px solid #222;
    width: var(--black-key-width); 
    height: var(--black-key-height);
    /* Calculate max width by taking container max width, scaling it down by the ratio between key and container widths, then scaling by key scale. */
    max-width: calc(var(--container-max-width) *
        var(--black-key-width-unitless) / var(--container-width-unitless) 
        * var(--black-key-scale));
    /* Similar to max width above */
    max-height: calc(var(--container-max-height) *
        (var(--black-key-height-unitless) / var(--container-height-unitless))
        * var(---black-key-scale));
    position: absolute; 
    border-radius: 0 0 5px 5px; 

    /* Buggy keyboard labels, will save for later 
    padding-top: 22%; 
    color: #777;
    */ 
}

.btn-key-black:hover { 
    background-color: #333;
}

.btn-key-c-sharp {
    top: var(--black-key-top-percent); 
    left: var(--c-sharp-left); 
}

.btn-key-d-sharp {
    top: var(--black-key-top-percent); 
    left: var(--d-sharp-left); 
}

.btn-key-f-sharp {
    top: var(--black-key-top-percent); 
    left: var(--f-sharp-left); 
}

.btn-key-g-sharp {
    top: var(--black-key-top-percent);
    left: var(--g-sharp-left); 
}

.btn-key-a-sharp {
    top: var(--black-key-top-percent); 
    left: var(--a-sharp-left); 
}

.footer { 
    /* Below aligns without display flex  */
    /* position: fixed;
    bottom: .5em;
    width: 100%;  */
    /* text-align: center;  */
    /* Below aligns with display flex */
    display: flex; 
    justify-content: center; 
    align-items: baseline; 
}

.footer-item {
    margin-right: 5px; 
    margin-bottom: 8px; 
}

.footer-item:last-child { 
    margin-right: 0; 
}

.footer-text {
    font-size: 16px;
    /* padding: 10px; */
    font-weight: bold; 
}

.footer-linkedin-image {
    width: 40px; 
    margin-bottom: -8px; 
}

